*.*.sw*
aclocal.m4
compat/Makefile.in 
config.h.in
configure
doc/Makefile.in
ltmain.sh
tests/Makefile.in
.deps
.gdb_history
Makefile
autom4te.cache/
compat/.deps/
compat/Makefile
compile
config.h
config.h.in~
config.log
config.status
configure~
doc/Makefile
libtool
stamp-h1
tests/.deps/
tests/Makefile
